$primary: #58A712;
$link-color: #ff1d9b;
$naruto: #ff6a00;
$vegeta: #0061ff;
$tweety: #f5ec00;
$bulbasaur: #d7dfc5;
$island-green: #abdd30;
$rock-lee: #77bb41;
$broly: #D5E9C4;
$sasuke: #e32400;
$jimbei: #00c7fc;
$barney: #9929bd;
$osmosis-jones: #0d4e90;
$casper: #ffffff;
$buu: #e52666;
// serious colors
$oxblood: #4A0404;
$sienna: #A0522D;
$cinnamon: #D27D2D;
$mango: #F4BB44;
$malachite: #0BDA51;
$spring-green: #00FF7F;
$pear: #C9CC3F;
$smoke: #848884;
$platinum: #E5E4E2;
$off-white: #FAF9F6;
$alice-blue: aliceblue;
//main theme

//night mode
$mr-popo: #202426;
$off-white: #FAF9F6;
$platinum: #E5E4E2;
$off-black: #353839;


// gradients

